.App {
    padding-top: 30px;
    padding-bottom: 30px;
}
  
.centered {
    display: flex;
    justify-content: center;
}

.react-datepicker__input-container {
    width: inherit;
  }
  
  .react-datepicker-wrapper {
    width: 100%;
  }

